<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 offset-md-1 col-xs-12">
        <%= form_for @article do |f| %>
          <fieldset>
            <fieldset class="form-group">
              <%= f.text_field :title, placeholder: "Article Title", class: "form-control form-control-lg" %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.text_field :description, placeholder: "What's this article about?", class: "form-control" %>
            </fieldset>
            <fieldset class="form-group">
              <%=  f.text_area :body, class: "form-control", rows: "8", placeholder: "Write your article (in markdown)" %>
            </fieldset>
            <!-- <fieldset class="form&#45;group"> -->
            <!--     <input type="text" class="form&#45;control" placeholder="Enter tags"><div class="tag&#45;list"></div> -->
            <!-- </fieldset> -->
            <%= f.submit "Publish Article", class: "btn btn-lg pull-xs-right btn-primary" %>
          </fieldset>
        <% end %>
      </div>

    </div>
  </div>
</div>
